#emplog .yellow-gradient {
  opacity: 0.5;
}

.emplog-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.emplog-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  z-index: 2;
  padding: 20px;
}

.emplog-page > .emplog-container > .sec > .head-sec {
  font-size: 35px;
  text-align: start;
  margin-top: -30%;
  margin-left: 5%;
}

@media (max-width: 768px) {
  .emplog-container {
    flex-direction: column;
  }

  .emplog-page {
    justify-content: flex-start;
    height: auto;
  }
}

@media (max-width: 480px) {
  .emplog-container {
    justify-content: center;
    padding: 10px;
  }
}

.globe-wrapper {
  position: absolute;
  top: 0; /* Adjusted to prevent cutting off */
  width: 100%;
  height: 100%;
}
