/* .globe-container {
  position: fixed;
  bottom: 0;
  top: 60%;
  left: 50%;
  right: 0;
  width: 600px;
  height: 600px;
  overflow: hidden;
  z-index: 1000;
}

.globe-canvas {
  width: 100%;
  height: 200px;
  border-radius: 50%;
}

.globe-container,
canvas {
  border: none;
  outline: none;
  box-shadow: none;
}
 */
.globe-container {
  position: absolute;
  /*   top: 60vh; */ /* Align with the bottom of the viewport */
  /* right: 10vw; */ /* Align with the right side of the viewport */
  width: 600px; /* Adjust width for better visibility */
  height: 600px; /* Adjust height for better visibility */
  /*   overflow: hidden;
 */
  object-fit: contain;
  z-index: 1000;
}

.globe canvas {
  width: 100%;
  height: 100%; /* Fill the container */
  border-radius: 50%;
  object-fit: contain;
}

.globe-container,
canvas {
  border: none;
  outline: none;
  box-shadow: none;
}
